* {
    background-color: greenyellow;
}
.top img {
    width: 100%;
}

.bottom {
    position: absolute;
    bottom: 0px;
    margin: auto;
    width: 100%;
    background-color: aquamarine;
}

.bottom p {
    background-color: aquamarine;
}